---
import axios from 'axios';
import Layout from '../../layouts/LayoutMenu.astro';
export const prerender = false;
import { type Categorie } from "../../types/Categories";


const {id} = Astro.params

const {data} = await axios.get(`http://localhost:1337/api/categorias?filters[slug][$eq]=${id}&populate[imagen][fields][0]=url&populate=items`)
const categorie: Categorie = data.data[0];

console.log(categorie)
---

<Layout title={id}>
    <div class="relative w-full overflow-hidden rounded-xl mb-3">
        <img src={`http://localhost:1337${categorie.imagen.url}`} alt={categorie.nombre} class="w-full max-h-[200px] object-cover object-[left_center]">
        <img src="/logo-dore.svg" class="absolute bottom-[calc(50%_-_48px)] right-4 w-24" alt={categorie.nombre}>
        <p class="absolute bottom-3 left-4 font-bold text-xl">{categorie.nombre}</p>
    </div>
    <ul class="w-full mt-3">
        {
            categorie.items.map(item => (
                <li class="bg-white w-full flex justify-between rounded-[28px] pt-[11px] pr-[30px] pb-[12px] pl-[12px] mb-[3px] text-black text-base">
                    <p class="font-normal">{item.nombre}</p>
                    <span class="font-bold">${item.precio}</span>
                </li>
            ))
        }
    </ul>
</Layout>